
input,textarea {
  background-color: transparent;
  border-style: none none solid none;
  border-color: black;
  font-size: 15px;
  max-width: 24vw;
  margin: 10px;
}
select {
  border-style: solid;
  border-color: black;
}

option {
  background-color: white;
  border-style: solid;
  border-color: black;
}

label {
  display: block;
}


form div {
  margin: 8px 1em;
  display: inline-block;
}

button {
  background-color: black;
  color: white;
  border-style: solid;
  margin: 2px 0 5px 5px;
  border-color: teal;
  border-width: thin;
  min-height: 20px;
  }


#login-form{
  display: flex;
  flex-direction: column;
}

#edit-form{
  display: flex;
  #edit-control{
    width: 25vw;
    border-style: solid;
    border-width: thin;
    div{
      min-height: 25%;
      form, select{
        margin-left: 1vw;
      }
    }
  }
  #edit-data{
    width: 65vw;
    height: 80vh;
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        width: 10vw;
        margin: 2px;
        overflow: scroll;
        border-style: solid;
        border-width: thin;
        height: 60px;
        box-shadow: 3px 2px 2px $dark-grey;
        background: $teal-color;
        }
      }
    }
}
#filteredList {
  max-height: 20vh;
  overflow-y: scroll;
}


@import './variables.scss'
