
.gamePiece {
  height: 20vh;
  width: 20vw;
  margin: 10px;
  // border-radius: 12px;
  font-size: 2vw;
  transition: transform 1s;
  box-shadow: $box-shadow-style;
  div{
    text-align:center;
  }

}
.outGame {
  transform: rotate(360deg);

}
.cardBack {
  color: transparent;
  border-color: $blue-color;
  border-width: 5px;
  background:linear-gradient(to right, $teal-color, $blue-color);
}
.cardFace {
  background-color: $teal-color;
  color: black;
}

.gameBoard {
  display:flex;
  flex-flow: row wrap;
  width: 90vw;
}

#wordBank {
  width: 40vw;
  ul {
    margin: 2px;
    padding: 0;
  }

}

#controlBox {
  background-color: $teal-color;
  // border-radius: 12px;
  box-shadow: $box-shadow-style;
}
#hintBox {
  border-radius: 12px;
  height: 35px;
  max-width: 10vw;
}

@import './variables.scss'
