
.gamePiece {
  height: 19vh;
  width: 19vw;
  margin: 10px;
  font-size: 2vmax;
  transition: transform 1s;
  box-shadow: $box-shadow-style;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  div {
    padding: 0px 15px;
    pointer-events: none;
  }
}
.outGame {
  transform: rotate(360deg);
  pointer-events: none;
  border-style: dashed;
  border-color: black;
  box-shadow: 0 0;

}
.cardBack {
  color: transparent;
  border-color: $blue-color;
  border-width: 5px;
  background:linear-gradient(to right, $teal-color, $blue-color);
  display:flex;
}
.cardFace {
  background-color: $highlight-color;
  color: black;
}

.gameBoard {
  display:flex;
  flex-flow: row wrap;
  width: 85vw;
}

#wordBank {
  width: 40vw;
  ul {
    margin: 2px;
    padding: 0;
  }

}
#gameBox{
  min-height: 85vh;
}
#controlBox {
  border-color: $teal-color;
  border-style: solid none;
}
#hintBox {
  border-radius: 12px;
  height: 35px;
  max-width: 10vw;
  *{
    max-width: 9vw;
  }
}
.controlPanel>div{
  margin: 0;
}

@import './variables.scss'
