.outter-box{
  box-shadow: $box-shadow-style;
  border-style: solid;
  border-width: thin;
  max-width: 60vw;
  margin: 20px 20vw;
}
.tab-container{
  display:flex;
}
.top-tab{
  width: 100%;
  height: 50px;
  background-color: $teal-color;

}

.side-tabs {
  width: 30%;
  display: flex;
  flex-direction: column;
  .blank-tab{
    pointer-events: none;
    height: 25%;
  }

  .tab {
    height: 25%;
    text-align: center;

    div{
      width: 100%;
      margin: 20px auto;
    }
  }
  .tab.active{
    background-color: $teal-color;
  }
}
.tab-content {
  width: 70%;
  border-left: thick solid $teal-color;
}

@import './variables.scss';
