$teal-color: #16a085;
$blue-color: rgb(9, 165, 238);
$page-background: lightcyan;
$dark-light: darkcyan;
$dark-grey: #2c3e50;
$box-shadow-style: 10px 5px 5px $dark-grey;
$highlight-color: rgb(231, 231, 3);
